<div class="row">
  <div class="col-md-4 mb-3">
    <img class="img-responsive center-block" src="{{user.image}}"
      style="width: 100%; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
  </div>
  <div class="col-md-8 mb-3">
    <h5>{{user.name}}</h5>
    <p>{{user.email}}</p>
    <ul class="list-unstyled">
      <li><strong>{{user.Comments.length}}</strong> 則評論，<strong>{{commentedRest.length}}</strong> 已評論</li>
      <li><strong>{{user.FavoritedRestaurants.length}}</strong> 收藏的餐廳</li>
      <li><strong>{{user.Followings.length}}</strong> followings(追蹤者)</li>
      <li><strong>{{user.Followers.length}}</strong> followers(追蹤者)</li>
    </ul>
    <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-header"><strong>{{user.Followings.length}}</strong> followings(追蹤者)</div>
      <div class="card-body">
        {{#if user.Followings.length}}
          {{#each user.Followings}}
            <a href="/users/{{this.id}}"><img
                src="{{#if this.image}}{{this.image}}{{else}}https://via.placeholder.com/60{{/if}}"
                class="card-img-top m-2" alt="avatar" style="width: 60px; height: 60px;"></a>
          {{/each}}
        {{else}}
          <p class="text-center m-3">未有評論</p>
        {{/if}}
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>{{user.Followers.length}}</strong> followers(追蹤者)</div>
      <div class="card-body">
        {{#if user.Followers.length}}
          {{#each user.Followers}}
            <a href="/users/{{this.id}}"><img
                src="{{#if this.image}}{{this.image}}{{else}}https://via.placeholder.com/60{{/if}}"
                class="card-img-top m-2" alt="avatar" style="width: 60px; height: 60px;"></a>
          {{/each}}
        {{else}}
          <p class="text-center m-3">未有評論</p>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="card mb-3">
      <div class="card-header"><strong>{{commentedRest.length}}</strong> 已評論餐廳</div>
      <div class="card-body">
        {{#if commentedRest.length}}
          {{#each commentedRest}}
            <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" class="card-img-top m-2" alt="avatar"
                style="width: 60px; height: 60px;"></a>
          {{/each}}
        {{else}}
          <p class="text-center m-3">未有評論</p>
        {{/if}}
      </div>
    </div>
    <div class="card">
      <div class="card-header"><strong>{{user.FavoritedRestaurants.length}}</strong> 收藏的餐廳</div>
      <div class="card-body">
        {{#if user.FavoritedRestaurants.length}}
          {{#each user.FavoritedRestaurants}}
            <a href="/restaurants/{{this.id}}"><img src="{{this.image}}" class="card-img-top m-2" alt="avatar"
                style="width: 60px; height: 60px;"></a>
          {{/each}}
        {{else}}
          <p class="text-center m-3">未有評論</p>
        {{/if}}
      </div>
    </div>
  </div>
</div>